.body {
    margin: 0;
    font-family: Helvetica;
}
header {
   text-align: center;
}
section {
    background: rgb(234, 234, 234);
    padding-top: 50px;
}
.box {
    background: white;
    width: 600px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px solid #EDEEEE
}
.header {
    padding: 5px;
}
.header h2 {
    margin: 0;
    font-size: 20px;
    display: inline-block;
}
.box .header .date {
    float: right;
    margin: 0;
}
img {
    width: 100%;
}